@font-face {
    font-family: "Inter";
    src: url("../public/fonts/Inter-4.1/InterVariable.ttf");
}

@font-face {
    font-family: "Baloo";
    src: url("../public/fonts/Red_Rose//static/RedRose-Regular.ttf");
}

@font-face {
    font-family: "Fredoka";
    src: url("../public/fonts/Fredoka,Roboto/Fredoka/Fredoka-VariableFont_wdth\,wght.ttf");
}

@import "tailwindcss";

@theme {
    --book-content-height: calc(100% - 32px);
    --book-content-width: calc(100% - 16px);
    --pages-left: calc(20% + 16px);
    --chevron-right: calc(-100% - 12px);
    --chevron-top: calc(50% - 22px);

    --shadow-auth: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    --shadow-book: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;

    --font-fredoka: "Fredoka", "sans-serif";

    --status-canceled: rgba(255, 73, 73, 100);
    --status-completed: rgba(19, 206, 102, 100);
    --status-pending: rgba(45, 142, 255, 100);
    --status-progressing: rgba(255, 204, 61, 100);    
    --status-none: rgb(140, 140, 140, 1);

    --grey-sub-content: rgb(140, 140, 140, 1);
    --grey-input: rgb(246, 246, 246, 1);
    --grey-modal: rgb(0, 0, 0, 0.35);

    --yellow-btn: rgb(243, 238, 119, 1);

    --blue-btn: rgb(121, 220, 255, 1);

    --old-book-color: rgb(143, 105, 69, 1);
    --old-paper-color: rgb(232, 220, 184);

    --black-visible: rgb(0, 0, 0, 0.5);

    --rotateY-none: rotateY(0);
    --rotateY-back-: rotateY(-180deg);
    --rotateY-back: rotateY(180deg);

    --move-the-book-sub-cover: translateX(50%) rotateY(180deg);
    --move-the-book-cover: translateX(25%) rotateY(180deg);
    --move-the-book-cover-: translateX(25%) rotateY(-180deg);
    --move-the-papers: translateX(25%);
    --move-the-book: translateX(25%);

    --animate-disappear: disappear 1.5s ease-in-out forwards;
    --animate-appear: appear 1.5s ease-in-out forwards;

    --animate-close-sub-cover: subCoverClose 2s ease-in-out forwards;
    --animate-open-sub-cover: subCoverOpen 2s ease-in-out forwards;
    --animate-close-cover: coverClose 2s ease-in-out forwards;
    --animate-open-cover: coverOpen 2s ease-in-out forwards;
    --animate-move-left: coverMoveLeft 2s ease-in-out forwards;
    --animate-move-right: coverMoveRight 2s ease-in-out forwards;
    --animate-close-page: pageClose 2s ease-in-out forwards;
    --animate-open-page: pageOpen 1s ease-in-out forwards;

    @keyframes pageClose {
        0% {
            transform: rotateY(0deg)
        }

        100% {
            transform: rotateY(180deg)
        }
    }

    @keyframes pageOpen {
        0% {
            transform: rotateY(180deg)
        }

        100% {
            transform: rotateY(0)
        }
    }

    @keyframes coverMoveLeft {
        0% {
            transform: translateX(25%)
        }

        100% {
            transform: translateX(0)
        }
    }

    @keyframes coverMoveRight {
        0% {
            transform: translateX(0)
        }

        100% {
            transform: translateX(25%)
        }
    }

    @keyframes coverClose {
        0% {
            transform: translateX(0)
        }

        50% {
            transform: translateX(12.5%) rotateY(-180deg)
        }

        100% {
            transform: translateX(25%) rotateY(-180deg)
        }
    }
    
    @keyframes coverOpen {
        0% {
            transform: translateX(25%) rotateY(-180deg)
        }

        100% {
            transform: translateX(0) rotateY(0)
        }
    }

    @keyframes subCoverClose {
        0%{
            transform: translateX(0)
        }

        100%{
            transform: translateX(50%) rotateY(180deg)
        }
    }

    @keyframes subCoverOpen {
        0% {
            transform: translateX(50%) rotateY(180deg)
        }

        50% {
            transform: translateX(25%) rotateY(0deg)
        }

        100%{
            transform: translateX(0) rotateY(0)
        }
    }

    @keyframes appear {
            0% {
                transform: scale(0)
            }

            40% {
                transform: scale(1.05)
            }
    
            60% {
                transform: scale(1.05)
            }
    
            100% {
                transform: scale(1)
            }
        }

    @keyframes disappear {
        0%{
            transform: scale(1)
        }

        50%{
            transform: scale(1.05)
        }

        60%{
            transform: scale(1.05)
        }

        100%{
            transform: scale(0)
        }
    }
}